<div class="container">
  <h1>Friends</h1>


  <div class="card-box">
    <% @friends.each do |friend| %>
      <div class="card-product">
        <%= cl_image_tag friend.photo.key %> 
        <div class="card-product-infos">
          <p><%= friend.first_name %></p>
          <p><%= friend.last_name %></p>
        </div>
        <div class="ghost">
          <%= button_to "-", friendships_destroy_path(friend), class: "btn btn-primary btn-minus", method: :delete %>
        </div>
      </div>
    <% end %>
  </div>

  <h1>Waiting for confirmation</h1>

  <div class="card-box">
    <% @friends_accepting.each do |friend| %>
      <div class="card-product">
        <%= cl_image_tag friend.photo.key %> 
        <div class="card-product-infos">
          <p><%= friend.first_name %></p>
          <p><%= friend.last_name %></p>
        </div>
        <div class="ghost">
          <%= button_to "+", friendships_update_path(friend), class: "btn btn-warning btn-plus", method: :patch %>
        </div>

      </div>
    <% end %>
    <% @friends_pending.each do |friend| %>
      <div class="card-product">
        <%= cl_image_tag friend.photo.key %> 
        <div class="card-product-infos">
          <p><%= friend.first_name %></p>
          <p><%= friend.last_name %></p>
        </div>
        <div class="ghost">
          <%= button_to "-", friendships_destroy_path(friend), class: "btn btn-primary btn-minus", method: :delete %>
        </div>

      </div>
    <% end %>
  </div>
</div>
