<div class="container">

  <div class="content-challenge">
    <h1>My Challenges</h1>
    <div class="challenge-card">
      <% @challenge_users.each do |challenge_user| %>
        <%= link_to challenge_path(challenge_user.challenge) do %>
          <% if challenge_user.accepted %>
            <div class="challenge-active">
              <p><%= challenge_user.challenge.name %></p>
            </div>
          <% else %>
            <div class="challenge-pending">
              <p><%= challenge_user.challenge.name %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "Create", new_challenge_path, class:"btn btn-warning"%>
    <%= link_to "My friends", users_path, class:"btn btn-primary"%>
  </div>

</div>

