


 <div class="container">
    <h1>Create your Challenge</h1>


    <%= simple_form_for @challenge do |f| %>

      <div class="form-box">
        <%= f.input :name, label: false, placeholder: "Name" %>
      </div>

      <div class="date">
        <%= f.input :start_date %>
      </div>

      <div class="date">
        <%= f.input :end_date %>
      </div>

      <div class="btn-container">
        <%= f.button :submit, "Create", class: "btn btn-warning" %>
      </div>
      <% end %>


  </div>





