


 <div class="container">
    <h1>Create your Challenge</h1>


    <%= simple_form_for @challenge do |f| %>

      <div class="form-box">
        <%= f.input :name, label: false, placeholder: "Name" %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, label: false, placeholder: "Start Date" %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}, label: false %>
      </div>

      <div class="btn-container">
        <%= f.button :submit, "Create", class: "btn btn-warning" %>
      </div>
    <% end %>


  </div>







