


 <div class="container">
    <h1>Create your Challenge</h1>

    <div class ="form-control">
      <%= simple_form_for @challenge do |f| %>

        <div class ="form-box">
          <%= f.input :name %>
        </div>

        <div class ="date">
          <%= f.input :start_date %>
        </div>

        <div class ="date">
          <%= f.input :end_date %>
        </div>

        <%= f.button :submit, "Create", class: "btn btn-warning" %>
        <% end %>

    </div>
  </div>





