

<div class="container all-centered">

  <div class="challenge-header">

    <div class="challenge-titel">
      <h1><%= @challenge.name %></h1>
    </div>

    <div class="challenge-user-row">
      <% @users.each do |user| %>
      <%= cl_image_tag user.photo.key %>


      <% end %>
      <br><br>
    </div>

    <div class="challenge-flexbox-center">

      <div class="challenge-days-left">
        <h1 class="number-with-orange-background"><%= @days_left %></h1>
      </div>

      <div class="challenge-days-left-details challenge-small-text">
        days left until <br> <%= @challenge.end_date.strftime("%b %d, %Y") %>
      </div>

    </div>

  </div>

  <br>
  <br>

  <% index = 1  %>

  <% @goals.each do |goal| %>

  <% goal_for_the_day = ((goal.target_amount.to_f / @challenge_duration.to_f) * @challenge_day)%>

  <% goal_type_nice = "min" if goal.goal_type == "min_amount" %>
  <% goal_type_nice = "max" if goal.goal_type == "max_amount" %>

  <div class="goal-container">

    <div class="goal-top-row">
      <table style="width:100%">
        <tr>
          <td colspan="6" class="goal-titel"> #<%= index %>: <%= goal.name %></td>
        </tr>
        <tr height=10px>
          <td></td>
        </tr>
        <tr>
          <td class="number-with-orange-background"><%= goal.target_amount %></td>
          <td class="goal-table-header"><%= goal.unit %> <%= goal_type_nice %> until end of challenge</td>
          <td class="number-with-orange-background"><%= goal_for_the_day.round(0) %></td>
          <td class="goal-table-header"><%= goal.unit %> <%= goal_type_nice %> by today</td>
          <td class="number-with-orange-background">XXX</td>
          <td class="goal-table-header">team average today</td>
        </tr>
      </table>
    </div>
    <br>

    <div class="goal-user-row">
      <table style="width:100%">
        <tr class="goal-table-header">
          <td width="33%"></td>
          <td>Current Amount</td>
          <td>Δ target for today</td>
          <td>Δ team average</td>
        </tr>

        <% @users.each do |user| %>
        <% user_amount_of_day = UserGoal.where(user: user, goal: goal)[0].current_amount %>
        <% user_delta = user_amount_of_day - goal_for_the_day %>
          <tr>
            <td class="goal-table-user-name">
              <%= user.first_name %>
            </td>
            <td class="goal-table-user-current-value">
              <%= user_amount_of_day%>
            </td>
            <td class="goal-table-user-delta-value">
              <%= user_delta.round(0) %>
            </td>
            <td class="goal-table-user-delta-value">
              XXX
            </td>
          </tr>
        <% end %>
      </table>
    </div class>
    <br>
    <div style="text-align: center">
      <%= link_to "+ 1 #{goal.unit.singularize}", "#", class: "btn btn-challenge" %>
    </div>
    </div>
    <br>
    <br>
  <% index = index + 1  %>
  <% end %>
</div>
