

<div class="container">

  <div class="challenge-header">

    <div class="challenge-titel">
      <h1><%= @challenge.name %></h1>
    </div>

    <div class="challenge-user-row">
      <% @users.each do |user| %>
      <%= cl_image_tag user.photo.key %>
      <% end %>
      <br><br>
    </div>

    <div class="challenge-flexbox-center">

      <div class="challenge-days-left">
        <h1 class="number-with-orange-background"><%= @days_left %></h1>
      </div>

      <div class="challenge-days-left-details challenge-small-text">
        days left until <br> <%= @challenge.end_date.strftime("%b %d, %Y") %>
      </div>

    </div>

  </div>

  <br>
  <br>

  <% @goals.each do |goal| %>

  <div class="goal-container">

    <div class="goal-top-row">
      <table style="width:100%">
        <tr>
          <td rowspan="2" class="challenge-h2" width="50%"><%= goal.name %></td>
          <td><%= goal.target_amount %></td>
          <td class="goal-table-header"><%= goal.unit %> <%= goal.goal_type %> until end of challenge</td>
        </tr>
        <tr>
          <% goal_for_the_day = ((goal.target_amount.to_f / @challenge_duration.to_f) * @challenge_day)%>
          <td><%= goal_for_the_day.round(0) %></td>
          <td class="goal-table-header"><%= goal.unit %> <%= goal.goal_type %> by today</td>
        </tr>
      </table>
    </div>
    <br>

    <div class="goal-user-row">
      <table style="width:100%">
        <tr class="goal-table-header">
          <td width="33%"></td>
          <td>Current Amount</td>
          <td>Δ target for today</td>
          <td>Δ team average</td>
        </tr>

        <% @users.each do |user| %>
        <% user_amount_of_day = UserGoal.where(user: user, goal: goal)[0].current_amount %>
        <% user_delta = user_amount_of_day - goal_for_the_day %>
          <tr>
            <td class="goal-table-user-name">
              <%= user.first_name %>
            </td>
            <td class="goal-table-user-current-value">
              <%= user_amount_of_day%>
            </td>
            <td class="goal-table-user-delta-value">
              <%= user_delta.round(0) %>
            </td>
            <td class="goal-table-user-delta-value">
              XXX
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <br>
    <%= link_to "+ 1 #{goal.unit}", "#", class: "btn btn-warning" %>
    </div>
    <br>
    <br>
  <% end %>
</div>
