
<div class="container all-centered">

  <div class="challenge-header">

    <div class="challenge-titel">
      <h1><%= @challenge.name %></h1>
    </div>

    <div class="challenge-user-row">
      <% @users.each do |user| %>
      <%= cl_image_tag user.photo.key %>
      <% end %>
      <%= link_to new_challenge_challenge_user_path(@challenge) do %>
      <div><i class="fas fa-user-plus"></i></div>
      <% end %>
    </div>

    <div class="challenge-flexbox-center">

      <div class="challenge-days-left">
        <h1 class="number-with-orange-background"><%= @challenge.days_left %></h1>
      </div>

      <div class="challenge-days-left-details">
        days left until <br> <%= @challenge.end_date.strftime("%b %d, %Y") %>
      </div>

    </div>
  </div>

  <br>
  <br>

  <br>
  <br>

  <% @goals.each.with_index(1) do |goal, ind| %>

  <div class="goal-container" id="container-<%= goal.id%>">
    <div>
      <h2 class="challenge-h2">#<%= ind %>: <%= goal.name %></h2>
    </div>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-<%= goal.id%>" role="tabpanel" aria-labelledby="home-tab">

        <% goal.user_goals.sort_by(&:current_amount).reverse.each do |user_goal| %>
        <div class="progress-row">
          <div class="progress-left">
            <%= cl_image_tag user_goal.user.photo.key%>
            <% if user_goal.current_amount >= user_goal.goal.target_amount %>
            <div class="crown">
              <%= image_tag("crown.png") %>
            </div>

            <% end %>
          </div>
          <div class="progress-right">
            <div class="progress-numbers">
              <p><b><%= user_goal.current_amount%></b> total</p>
              <p><b><%= user_goal.current_amount * 100/ user_goal.goal.target_amount%></b> %</p>
            </div>
            <div class="progress">
              <div
              <% if current_user == user_goal.user %>
              class="progress-bar bg-warning"
              <% else %>
              class="progress-bar"
              <% end %>
              role="progressbar"
              style="width: <%= user_goal.current_amount * 100/ user_goal.goal.target_amount%>%;"
              aria-valuenow="<%= user_goal.current_amount * 100/ user_goal.goal.target_amount%>"
              aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div>
          </div>
         </div>
          <% if current_user == user_goal.user && user_goal.current_amount == user_goal.goal.target_amount %>
          <script>
          const pyroContainer = document.getElementById("pyro-container");
          pyroContainer.classList.toggle("pyro-hidden");
          setTimeout(() => {pyroContainer.classList.toggle("pyro-hidden")}, 5000);
          </script>
          <% end %>


         <% end %>


      </div>

    <div class="tab-pane fade" id="details-<%= goal.id%>" role="tabpanel" aria-labelledby="contact-tab">

      <table style="width:100%">
        <tr class="goal-table-header">
          <td width="33%"></td>
          <td>Current Amount</td>
          <td>vs. today's target</td>
          <td>vs. team average</td>
        </tr>

        <% goal.user_goals.sort_by(&:current_amount).reverse.each do |user_goal| %>

        <tr>
          <td class="goal-table-user-name">
            <%= user_goal.user.first_name %>
          </td>
          <td class="goal-table-user-current-value">
            <%= user_goal.current_amount%>
          </td>
          <td class="goal-table-user-delta-value">
            <div class="<%= user_goal.delta_to_target < 0 ? "text-danger" : "text-success"%>"><%= user_goal.delta_to_target.round(0) %></div>
          </td>
          <td class="goal-table-user-delta-value">
            <div class="<%= user_goal.delta_to_team_average < 0 ? "text-danger" : "text-success"%>"><%= user_goal.delta_to_team_average.round(0) %></div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>



  </div>

  <ul class="nav nav-tabs goal-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-<%= goal.id%>" role="tab" aria-controls="home" aria-selected="true"></a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="details-tab" data-toggle="tab" href="#details-<%= goal.id%>" role="tab" aria-controls="details" aria-selected="false"></a>
    </li>
  </ul>

  <br>
  <br>
  <div style="text-align: center">
    <%= link_to "+ 1 #{goal.unit.singularize}", user_goal_plus_one_path(UserGoal.where(user: current_user, goal: goal).first), class: "btn btn-challenge", id: "fireworks-button", remote: true, method: :patch %>
  </div>
</div>
<br>
<br>
<% end %>
<div style="text-align: center">
<%= link_to "Add new goal to challenge", new_challenge_goal_path(@challenge), class: "btn btn-primary" %>
</div>


</div>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="pyro pyro-hidden" id="pyro-container">
  <div class="before"></div>
  <div class="after"></div>
</div>

