

<div class="container all-centered">

  <div class="challenge-header">

    <div class="challenge-titel">
      <h1><%= @challenge.name %></h1>
    </div>

    <div class="challenge-user-row">
      <% @users.each do |user| %>
      <%= cl_image_tag user.photo.key %>
      <% end %>
      <div><i class="fas fa-user-plus"></i></div>
      <br><br>
    </div>

    <div class="challenge-flexbox-center">

      <div class="challenge-days-left">
        <h1 class="number-with-orange-background"><%= @challenge.days_left %></h1>
      </div>

      <div class="challenge-days-left-details challenge-small-text">
        days left until <br> <%= @challenge.end_date.strftime("%b %d, %Y") %>
      </div>

    </div>

  </div>

  <br>
  <br>


  <% @goals.each.with_index(1) do |goal, ind| %>

  <%# goal_for_the_day = goal.amount_per_day * goal.challenge.day_of_challenge%>

  <div class="goal-container">

    <div class="goal-top-row">
      <table style="width:100%">
        <tr>
          <td colspan="6" class="goal-titel"> #<%= ind %>: <%= goal.name %></td>
        </tr>
        <tr height=10px>
          <td></td>
        </tr>
        <tr>
          <td class="number-with-orange-background"><%= goal.target_amount %></td>
          <td class="goal-table-header"><%= goal.unit %> <%= goal.min_max_nice %> until end of challenge</td>
          <td class="number-with-orange-background"><%= goal.goal_for_the_day.round(0) %></td>
          <td class="goal-table-header"><%= goal.unit %> <%= goal.min_max_nice %> by today</td>
          <td class="number-with-orange-background"> <%= goal.team_average.round(0)  %> </td>
          <td class="goal-table-header">team average today</td>
        </tr>
      </table>
    </div>
    <br>

    <div class="goal-user-row">
      <table style="width:100%">
        <tr class="goal-table-header">
          <td width="33%"></td>
          <td>Current Amount</td>
          <td>Δ target for today</td>
          <td>Δ team average</td>
        </tr>

        <% goal.user_goals.sort_by(&:current_amount).reverse.each do |user_goal| %>
        <%# user_amount_of_day = UserGoal.user_amount_of_day(goal, user) %>
        <%# user_goal = UserGoal.where(user: user, goal: goal)[0] %>
        <%# user_delta_day_target = user_amount_of_day - goal.goal_for_the_day %>
        <%# user_delta_team_average = user_amount_of_day - goal.team_average %>
        <%# raise %>
          <tr>
            <td class="goal-table-user-name">
              <%= user_goal.user.first_name %>
            </td>
            <td class="goal-table-user-current-value">
              <%= user_goal.current_amount%>
            </td>
            <td class="goal-table-user-delta-value">
              <%= user_goal.delta_to_target.round(0) %>
            </td>
            <td class="goal-table-user-delta-value">
              <%= user_goal.delta_to_team_average.round(0) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div class>
    <br>
    <div style="text-align: center">
      <%= link_to "+ 1 #{goal.unit.singularize}", "#", class: "btn btn-challenge" %>
    </div>
    </div>
    <br>
    <br>
  <% end %>
</div>
