<div class="container">
    <h1>Add your Friend</h1>
    <%= simple_form_for [@challenge, @challenge_user] do |f| %>
      <div class="user">
        <%= f.association :user, collection: @friends, label_method: :full_name %>
      </div>
      <div class="btn-container">
        <%= f.button :submit, "Add", class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>

<div class="container">
  <div class="goals-list">
    <% @challenge_users.each do |challenge_user| %>
    <div class="challenge-user-friends-container">
      <div class ="btn btn-primary">
        <%= challenge_user.user.full_name %>
      </div>
      <%= cl_image_tag challenge_user.user.photo.key, class: "avatar" %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">

  <div class="button-list">
    <%= link_to "Challenge", challenge_path(@challenge), class: "btn btn-warning" %>
    <%= link_to "Goals", new_challenge_goal_path, class: "btn btn-warning" %>
  </div>
</div>



