<div class="container">
    <h1>Create your Goal</h1>
      <%= simple_form_for [@challenge, @goal] do |f| %>

        <div class="form-box">
          <%= f.input :name %>
        </div>

        <div class="form-box">
          <%= f.input :target_amount %>
        </div>

        <div class="form-box">
          <%= f.input :unit %>
        </div>
        <div class="btn-container">
          <%= f.button :submit, "Create", class: "btn btn-warning" %>
        </div>

      <% end %>
</div>
