<div class="container">
    <h1>Create your Goal</h1>
      <%= simple_form_for [@challenge, @goal] do |f| %>

        <div class="form-box">
          <%= f.input :name %>
        </div>

        <div class="form-box">
          <%= f.input :target_amount %>
        </div>

        <div class="form-box">
          <%= f.input :unit %>
        </div>
        <div class="btn-container">
          <%= f.button :submit, "Create", class: "btn btn-warning" %>
        </div>

      <% end %>
</div>

<div class="container">
  <div class="goals-list">
    <p class="goal-text"><%= @goals.map { |goal| goal.name }.join(" | ") %></p>
  </div>
</div>

<div class="container">

  <div class="button-list">
    <%= link_to "Challenge", challenge_path(@challenge), class: "btn btn-warning" %>
    <%= link_to "Friends", new_challenge_challenge_user_path, class: "btn btn-warning" %>
  </div>
</div>
